@page "/editar-transacao/{id}"

@using Neptune.Models

@inject NavigationManager UriHelper
@inject ITransacaoService TransacaoService

<h1>Editar Transação</h1>

<input form="Data" @bind="@transacao.Data" />
<input form="Descricao" @bind="@transacao.Descricao" />
<input form="Valor" @bind="@transacao.Valor" />
<button class="btn btn-primary" @onclick="Editar">Salvar</button>

@code {
    [Parameter]
    public String id { get; set; }

    Transacao transacao = new Transacao();

    protected override async Task OnInitializedAsync() =>
        transacao = await TransacaoService.ObterTransacao(Convert.ToInt32(id));

    private async Task Editar()
    {
        await TransacaoService.EditarTransacao(Convert.ToInt32(id), transacao);
        UriHelper.NavigateTo("/");
    }
}