@page "/nova-transacao"

@using Neptune.Web.Data

@inject NavigationManager UriHelper
@inject PagesService TransacaoService

<h1>Nova Transação</h1>

<input form="Data" @bind="@novaTransacaoViewModel.Data" />
<input form="Descricao" @bind="@novaTransacaoViewModel.Descricao" />
<input form="Valor" @bind="@novaTransacaoViewModel.Valor" />
<input type="hidden" value="@novaTransacaoViewModel.ContaId" />
<button class="btn btn-primary" @onclick="Nova">Salvar</button>

@code {
    NovaTransacao novaTransacaoViewModel = new();

    private async Task Nova()
    {
        await TransacaoService.NovaTransacao(novaTransacaoViewModel);
        UriHelper.NavigateTo("/");
    }
}
