@using Neptune.Models

<tr>
    <td>@transacao.Data.ToString("dd-MM-yyyy")</td>
    <td>@transacao.Descricao</td>
    <td>@transacao.Valor</td>
    <td><a href="/editar-transacao/@transacao.Id">Editar</a></td>
    <td>@transacao.Id</td>
</tr>

@code {
    [Parameter] public Transacao transacao { get; set; }
}
